doctype html
html(ng-app='meany')
    head
        title= title
        meta(charset='utf-8')
        base(href='/')

        link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", rel="stylesheet")
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js')
        each s in scripts
            script(src=s)

        script(src='/meany/modules-aggregated.js')
        script
            != '(function(angular){ var module = angular.module("meany", ' + angularModules + ');\n'
            != 'module.config(["$stateProvider", "$locationProvider", function($stateProvider, $locationProvider) {\n'
            !=     '$locationProvider.html5Mode(true);\n'
            !=     '$stateProvider.state("home", { url: "/"});\n'
            != '}]\n);'
            != '})(angular);'

    body
        .navbar.navbar-default(role='navigation')
            .navbar-header
                a.navbar-brand(ng-href='/')= title

            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    each menu in menus
                        li(ui-route=menu.link, ng-class="{active: $uiRoute}")
                            a(ui-sref=menu.link)= menu.title

        .container(ui-view)
